<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://imageio.forbes.com/specials-images/dam/imageserve/908633080/960x0.jpg?format=jpg&width=1440"
      cardTitle="Bitcoin price bounces back as Silicon Valley Bank rescued"
      cardDescription="Cryptocurrency industry still suffering fallout from Silvergate Bank collapse"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Secret bitcoin mine discovered beneath school"
      photoCover="https://static.independent.co.uk/2023/03/01/09/bitcoin%20mine%20high%20school.jpg?quality=75&width=990&crop=3%3A2%2Csmart&auto=webp"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Bitcoin price predictions split as Mt Gox bankruptcy repayments near"
      photoCover="https://static.independent.co.uk/2023/03/02/09/bitcoin%20price%20prediction%20mt%20gox.jpg?quality=75&width=990&crop=3%3A2%2Csmart&auto=webp"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Coinbase: Man jailed in first ever insider trading case involving cryptocurrency"
      photoCover="https://static.independent.co.uk/2023/01/11/09/coinbase%20insider%20trading%20crypto.jpg?quality=75&width=990&crop=3%3A2%2Csmart&auto=webp"
    >
    </app-small-card>
  </div>
</div>
